{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Correo Enviado | Sistema de Gestión de Aprendizaje' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Correo Enviado' %}</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>{% trans 'Se ha enviado un correo con instrucciones para restablecer tu contraseña. Revisa tu correo electrónico.' %}
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>{% trans 'Volver al Inicio de Sesión' %}</a>
  </div>
</div>
{% endblock content %}
