{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Restablecimiento de Contraseña Completo | Sistema de Gestión de Aprendizaje' %}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">{% trans 'Restablecimiento de Contraseña Completo' %}</h3>
    <div class="container">
      <div class="alert alert-success">
        <i class="fas fa-check-circle"></i>{% trans '¡Tu contraseña ha sido restablecida, ahora puedes iniciar sesión!' %}
      </div>
      <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Iniciar Sesión Aquí' %}</a>
    </div>
</div>
{% endblock content %}
